// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_secret {
      width: 400px;
}

.all_secrets {
      width: 700px;
      border: 1px gray solid;
      border-radius: 10px;
}

.my_secrets {
      width: 350px;
      border: 1px gray solid;
      border-radius: 10px;
}

.secrets_liked {
      width: 350px;
      border: 1px gray solid;
      border-radius: 10px;
}
